<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.fengshenbang_spring.mapper.PerStat2Mapper">

    <!--注意修改parameterType-->

    <select id="findByStuNum" resultType="com.example.fengshenbang_spring.mapper.DO.PerStat2">
        SELECT username, behaviour, study, health
        FROM personalstatement2 WHERE username = #{username}
    </select>

    <delete id="deleteAll">
        DELETE FROM personalstatement2 WHERE username = #{username}
    </delete>

    <insert id="insert" parameterType="com.example.fengshenbang_spring.mapper.DO.PerStat2">
        INSERT INTO personalstatement2 (username, behaviour, study, health)
        VALUES (#{username}, #{behaviour}, #{study}, #{health})
    </insert>

    <delete id="delete" parameterType="com.example.fengshenbang_spring.mapper.DO.PerStat2">
        DELETE FROM personalstatement2 WHERE username = #{username} AND `behaviour` = #{behaviour}
    </delete>

</mapper>