<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.fengshenbang_spring.mapper.WorServMapper">

    <!--注意修改parameterType-->

    <select id="findByStuNum" resultType="com.example.fengshenbang_spring.mapper.DO.WorServ">
        SELECT username, time, job, post, level
        FROM workservice WHERE username = #{username}
    </select>

    <delete id="deleteAll">
        DELETE FROM workservice WHERE username = #{username}
    </delete>

    <insert id="insert" parameterType="com.example.fengshenbang_spring.mapper.DO.WorServ">
        INSERT INTO workservice (username, time, job, post, level)
        VALUES (#{username}, #{time}, #{job}, #{post}, #{level})
    </insert>

    <delete id="delete" parameterType="com.example.fengshenbang_spring.mapper.DO.WorServ">
        DELETE FROM workservice WHERE username = #{username} AND `post` = #{post}
    </delete>

</mapper>